.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.getStarted {
  margin-right: 1rem;
}

.feature {
  padding: 2rem 0;
  text-align: center;
}

.featureImage {
  max-height: 200px;
  margin-bottom: 1rem;
}